Dairy Datesets
#https://www.kaggle.com/datasets/suraj520/dairy-goods-sales-dataset from the dataset mentioned above, find the answers of these few questions

1.does number of cows in a farm has any dependency on area aquired.
2.what is the average expiry days of each product.
3.mention the name of the products with max and min shelf life
4.summarize the data on the basis of brands and land acquired by them,cows and the revenue generated by them.
5.What is the average shelf life for different storage conditions.

In [1]:
import pandas as pd
df=pd.read_csv("dairy_dataset.csv")
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2/17/2022,5,Ice Cream,Dodla Dairy,222.40,85.72,...,12/27/2021,1/21/2022,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,12/1/2021,1,Milk,Amul,687.48,42.61,...,10/3/2021,10/25/2021,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2/28/2022,4,Yogurt,Dodla Dairy,503.48,36.50,...,1/14/2022,2/13/2022,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,6/9/2019,3,Cheese,Britannia Industries,823.36,26.52,...,5/15/2019,7/26/2019,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,12/14/2020,8,Buttermilk,Mother Dairy,147.77,83.85,...,10/17/2020,10/28/2020,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

In [3]:
df.isnull().sum()

Location                               0
Total Land Area (acres)                0
Number of Cows                         0
Farm Size                              0
Date                                   0
Product ID                             0
Product Name                           0
Brand                                  0
Quantity (liters/kg)                   0
Price per Unit                         0
Total Value                            0
Shelf Life (days)                      0
Storage Condition                      0
Production Date                        0
Expiration Date                        0
Quantity Sold (liters/kg)              0
Price per Unit (sold)                  0
Approx. Total Revenue(INR)             0
Customer Location                      0
Sales Channel                          0
Quantity in Stock (liters/kg)          0
Minimum Stock Threshold (liters/kg)    0
Reorder Quantity (liters/kg)           0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4325 entries, 0 to 4324
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Location                             4325 non-null   object
 1   Total Land Area (acres)              4325 non-null   float64
 2   Number of Cows                       4325 non-null   int64
 3   Farm Size                            4325 non-null   object
 4   Date                                 4325 non-null   object
 5   Product ID                           4325 non-null   int64
 6   Product Name                         4325 non-null   object
 7   Brand                                4325 non-null   object
 8   Quantity (liters/kg)                 4325 non-null   float64
 9   Price per Unit                       4325 non-null   float64
 10  Total Value                          4325 non-null   float64
 11  Shelf Life (days)                    4325 non-null   int64
 12  Storage Condition                    4325 non-null   object
 13  Production Date                      4325 non-null   object
 14  Expiration Date                      4325 non-null   object
 15  Quantity Sold (liters/kg)            4325 non-null   int64
 16  Price per Unit (sold)                4325 non-null   float64
 17  Approx. Total Revenue(INR)           4325 non-null   float64
 18  Customer Location                    4325 non-null   object
 19  Sales Channel                        4325 non-null   object
 20  Quantity in Stock (liters/kg)        4325 non-null   int64
 21  Minimum Stock Threshold (liters/kg)  4325 non-null   float64
 22  Reorder Quantity (liters/kg)         4325 non-null   float64
dtypes: float64(8), int64(5), object(10)
memory usage: 777.3+ KB

In [10]:
# 1. does number of cows in a farm has any dependency on area aquired.

data=df.groupby("Farm Size").agg({"Number of Cows":"count","Total Land Area (acres)":"mean"})
data

           Number of Cows  Total Land Area (acres)
Farm Size
Large                1462               512.945007
Medium               1439               501.034948
Small                1424               496.242556

In [18]:
# 2.what is the average expiry days of each product.

data=df.groupby(["Product Name","Storage Condition"]).agg({"Shelf Life (days)":"mean"})
data=data.sort_values(by="Shelf Life (days)")
data

                                Shelf Life (days)
Product Name Storage Condition
Milk         Polythene Packet            1.471111
Curd         Refrigerated                6.025052
Buttermilk   Refrigerated               10.572414
Paneer       Refrigerated               10.662132
Lassi        Refrigerated               14.847875
Yogurt       Refrigerated               25.437768
Ice Cream    Frozen                     25.458629
Milk         Tetra Pack                 25.553922
Yogurt       Frozen                     25.607843
Butter       Refrigerated               32.902439
             Frozen                     32.960177
Cheese       Frozen                     56.065934
             Refrigerated               58.369863
Ghee         Ambient                   105.741294

In [20]:
# 3. mention the name of the products with max and min shelf life

data1=df["Shelf Life (days)"].idxmax()
df.loc[data1]

Location                               Uttar Pradesh
Total Land Area (acres)                       683.46
Number of Cows                                    53
Farm Size                                     Medium
Date                                       4/25/2019
Product ID                                        10
Product Name                                    Ghee
Brand                                          Sudha
Quantity (liters/kg)                          423.59
Price per Unit                                 11.53
Total Value                                4883.9927
Shelf Life (days)                                150
Storage Condition                            Ambient
Production Date                             4/1/2019
Expiration Date                            8/29/2019
Quantity Sold (liters/kg)                        118
Price per Unit (sold)                          15.52
Approx. Total Revenue(INR)                   1831.36
Customer Location                          Telangana
Sales Channel                                 Retail
Quantity in Stock (liters/kg)                    305
Minimum Stock Threshold (liters/kg)            52.32
Reorder Quantity (liters/kg)                  122.58
Name: 875, dtype: object

In [21]:
data2=df["Shelf Life (days)"].idxmin()
df.loc[data2]

Location                                         Kerala
Total Land Area (acres)                           14.97
Number of Cows                                       71
Farm Size                                         Small
Date                                          2/22/2020
Product ID                                            1
Product Name                                       Milk
Brand                                      Mother Dairy
Quantity (liters/kg)                             821.52
Price per Unit                                    11.58
Total Value                                   9513.2016
Shelf Life (days)                                     1
Storage Condition                      Polythene Packet
Production Date                               1/31/2020
Expiration Date                                2/1/2020
Quantity Sold (liters/kg)                           778
Price per Unit (sold)                              8.69
Approx. Total Revenue(INR)                      6760.82
Customer Location                               Gujarat
Sales Channel                                    Retail
Quantity in Stock (liters/kg)                        43
Minimum Stock Threshold (liters/kg)               89.45
Reorder Quantity (liters/kg)                      28.11
Name: 15, dtype: object

In [22]:
# 4. summarize the data on the basis of brands and land acquired by them,cows and the revenue generated by them.
data3=df.groupby("Brand").agg({"Total Land Area (acres)":"sum","Number of Cows":"sum","Approx. Total Revenue(INR)":"sum"})
data3

,Total Land Area (acres),Number of Cows,Approx. Total Revenue(INR)
Brand,,,
Amul,528377.46,56873,14608864.46
Britannia Industries,51221.94,4968,1029522.05
Dodla Dairy,111974.65,12354,2604857.37
Dynamix Dairies,55356.87,5637,1479884.78
Mother Dairy,497118.15,56517,13766786.47
Palle2patnam,106237.70,11705,2528989.12
Parag Milk Foods,53690.47,5204,1516697.71
Passion Cheese,50724.93,5353,1498653.15
Raj,346073.91,36957,9560777.64
Sudha,328411.07,36467,8370109.56
Warana,48377.14,5683,1769505.55

In [24]:
# 5. What is the average shelf life for different storage conditions.

data4=df.groupby("Storage Condition").agg({"Shelf Life (days)":"mean"})
data4=data4.sort_values(by="Shelf Life (days)")
data4

                   Shelf Life (days)
Storage Condition
Polythene Packet            1.471111
Refrigerated               18.006913
Tetra Pack                 25.553922
Frozen                     32.508213
Ambient                   105.741294

In [25]:
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2/17/2022,5,Ice Cream,Dodla Dairy,222.40,85.72,...,12/27/2021,1/21/2022,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,12/1/2021,1,Milk,Amul,687.48,42.61,...,10/3/2021,10/25/2021,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2/28/2022,4,Yogurt,Dodla Dairy,503.48,36.50,...,1/14/2022,2/13/2022,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,6/9/2019,3,Cheese,Britannia Industries,823.36,26.52,...,5/15/2019,7/26/2019,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,12/14/2020,8,Buttermilk,Mother Dairy,147.77,83.85,...,10/17/2020,10/28/2020,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

In [30]:
# my analysis 
# What is total revenue sales channel for brand wise.

data5=df.groupby(["Sales Channel","Brand"]).agg({"Approx. Total Revenue(INR)":"sum"})
data5=data5.sort_values(by="Approx. Total Revenue(INR)")
data5

                                    Approx. Total Revenue(INR)
Sales Channel Brand
Wholesale     Britannia Industries                   267200.67
Retail        Britannia Industries                   319525.04
Online        Passion Cheese                         397446.30
              Parag Milk Foods                       420880.07
Wholesale     Parag Milk Foods                       429156.25
Retail        Dynamix Dairies                        441480.64
Online        Britannia Industries                   442796.34
Retail        Passion Cheese                         456880.48
Wholesale     Dynamix Dairies                        470191.79
Online        Warana                                 501197.93
              Dynamix Dairies                        568212.35
Retail        Warana                                 621932.90
Wholesale     Passion Cheese                         644326.37
              Warana                                 646374.72
Retail        Parag Milk Foods                       666661.39
Wholesale     Dodla Dairy                            776390.46
Online        Palle2patnam                           779901.55
              Dodla Dairy                            853027.43
Retail        Palle2patnam                           873765.47
Wholesale     Palle2patnam                           875322.10
Retail        Dodla Dairy                            975439.48
Online        Sudha                                 2578320.39
Retail        Sudha                                 2777072.36
Online        Raj                                   2796405.53
Wholesale     Sudha                                 3014716.81
              Raj                                   3331468.87
Retail        Raj                                   3432903.24
Online        Amul                                  3941754.36
              Mother Dairy                          4376451.23
Retail        Mother Dairy                          4671287.59
Wholesale     Mother Dairy                          4719047.65
              Amul                                  5040400.56
Retail        Amul                                  5626709.54

In [31]:
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2/17/2022,5,Ice Cream,Dodla Dairy,222.40,85.72,...,12/27/2021,1/21/2022,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,12/1/2021,1,Milk,Amul,687.48,42.61,...,10/3/2021,10/25/2021,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2/28/2022,4,Yogurt,Dodla Dairy,503.48,36.50,...,1/14/2022,2/13/2022,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,6/9/2019,3,Cheese,Britannia Industries,823.36,26.52,...,5/15/2019,7/26/2019,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,12/14/2020,8,Buttermilk,Mother Dairy,147.77,83.85,...,10/17/2020,10/28/2020,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

In [34]:
data=df.loc[(df["Product Name"]=="Milk") & (df["Brand"]=="Amul")]
data

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
1,Uttar Pradesh,19.19,44,Large,12/1/2021,1,Milk,Amul,687.48,42.61,...,10/3/2021,10/25/2021,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
19,Tamil Nadu,534.50,52,Medium,6/15/2021,1,Milk,Amul,896.89,93.72,...,5/22/2021,6/19/2021,486,96.08,46694.88,Telangana,Wholesale,410,26.87,92.23
77,Haryana,829.55,32,Medium,7/2/2022,1,Milk,Amul,928.93,50.94,...,5/26/2022,6/17/2022,869,54.74,47569.06,Jharkhand,Online,59,97.61,158.99
131,Chandigarh,679.85,39,Large,5/17/2022,1,Milk,Amul,571.63,93.68,...,5/3/2022,5/4/2022,480,98.20,47136.00,Karnataka,Online,91,12.33,116.74
139,Uttar Pradesh,529.82,15,Small,12/18/2019,1,Milk,Amul,313.25,32.66,...,11/21/2019,11/22/2019,73,32.72,2388.56,Rajasthan,Online,240,37.04,97.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4185,Jharkhand,771.98,11,Small,11/14/2020,1,Milk,Amul,485.25,43.75,...,10/18/2020,10/19/2020,44,38.86,1709.84,Chandigarh,Retail,441,48.32,151.54
4216,Tamil Nadu,307.02,71,Small,11/1/2020,1,Milk,Amul,721.03,77.30,...,9/7/2020,9/8/2020,372,74.51,27717.72,Maharashtra,Retail,349,11.09,108.42
4269,Chandigarh,328.01,97,Small,10/20/2021,1,Milk,Amul,26.78,52.78,...,9/23/2021,9/24/2021,22,50.25,1105.50,Uttar Pradesh,Online,4,47.71,175.88
4274,Delhi,690.41,36,Small,9/7/2019,1,Milk,Amul,808.30,22.96,...,8/3/2019,8/5/2019,654,20.84,13629.36,Kerala,Wholesale,154,32.48,139.80
4310,Haryana,37.81,98,Small,11/8/2019,1,Milk,Amul,3.51,40.25,...,10/16/2019,11/8/2019,1,42.00,42.00,Kerala,Wholesale,2,51.64,151.09

In [36]:
data.to_excel("Amul.xlsx",index=False)